:root {
    --color-bg: #B6A3CE;
    --color-fg: #170312;
    --color-ok: #006D77;
    --color-err: #9A031E;
    --color-warn: #FA7921;
    --color-shadow: #896a8d;
}

@font-face {
    font-family: tt2020;
    src: url("../font/TT_F.ttf");
}

@font-face {
    font-family: neomatrix;
    src: url("../font/NeomatrixCode.ttf");
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0px;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        transform: scale(1.2);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}

.content {
    display: flex;
    flex-flow: row nowrap;
}

.side-panel {
    height: 100vh;
    width: 40vw;
    box-shadow: 4px 0px 16px var(--color-shadow);
}

.side-panel>img {
    position: relative;
}

#side-panel-title {
    position: absolute;
    font-size: 7rem;
    font-family: tt2020, 'Courier New', Courier, monospace;
    color: #594663;
    top: 10%;
    left: 10%;
}

#side-image {
    width: 40vw;
    height: 100vh;
    margin: 0px;
}

.form-panel {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: linear-gradient(#c9bcea, #d0bae8, #d1afdc);
    width: 60vw;
    box-shadow: 18px 4px 16px var(--color-shadow), 16px -4px 16px var(--color-shadow);
    padding: 32px;
    font-family: neomatrix, 'Courier New', Courier, monospace;
}

.form-content>form {
    display: flex;
    flex-flow: row wrap;
    gap: 64px;
}

form label {
    text-transform: uppercase;
}

#button_div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

form button {
    border: none;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 0.5s;
}

form button:hover {
    background-color: var(--color-ok);
    color: white;
    cursor: pointer;
    scale: 1.1;
}

form button:active {
    transition-duration: 0.1s;
    scale: 1;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.1s;
}

input:invalid {
    border: 1px solid var(--color-err);
}

input:valid {
    border: 1px solid var(--color-ok);
}

input[type=password].invalid {
    border: 1px solid var(--color-err);
}

.form-column {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
}


.form-content label {
    display: block;
}